---
import Layout from "@/layouts/Layout.astro";
import Playbar from "@/components/Playbar.astro";
import SidebarHeader from "@/sections/SidebarHeader.astro";
import LibraryListSection from "@/sections/LibraryListSection.astro";
import NowPlayingView from "@/sections/NowPlayingView.astro";
import MainSection from "@/sections/MainSection.astro";
---

<Layout title="Clonify Premium">
  <main>

    <div class="min-h-[100vh] flex flex-col">
      <div class="flex-1 flex flex-row gap-2 p-2">
        <div class="flex flex-col gap-2 flex-1">
          <SidebarHeader/>
          <LibraryListSection />
        </div>
        <div class="flex w-[50%]">
          <MainSection/>
        </div>
        <div id="card" class="flex flex-col flex-1">
          <NowPlayingView/>
        </div>
      </div>
      <div id="footer">
        <Playbar/>
      </div>
    </div>
  </main>
</Layout>