---
import LibraryHeader from "./LibraryHeader.astro";
import { Search, List } from "lucide-astro";

const libraries = [
  {
    img: "",
    title: "Liked Songs",
    subtitle: "📌 Playlist • 1,005 songs",
  },
  {
    img: "",
    title: "Metallica",
    subtitle: "Album • Metallica",
  },
  {
    img: "",
    title: "Your Top Songs 2023",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "Luis Miguel Tour 2023",
    subtitle: "Playlist • Luis Fernandez",
  },
  {
    img: "",
    title: "Adobe la Carne",
    subtitle: "Playlist • fervaas",
  },
  {
    img: "",
    title: "Late Night Car",
    subtitle: "Playlist • fervaas",
  },
  {
    img: "",
    title: "This Is Michael jackson",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "80s Rock Anthems",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "Your Top Songs 2022",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "Your Top Songs 2021",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "Your Top Songs 2022",
    subtitle: "Playlist • Spotify",
  },
];
---

<div>
  <LibraryHeader />
  <ul class="styled-scrollbar flex flex-col overflow-y-scroll max-h-[65.5vh]">
    <li class="flex flex-row text-gray-400 gap-1 pr-3 ml-4 py-4">
      <Search size={18} />
      <span class="text-sm text-end flex-1">Recents</span>
      <List size={18} />
    </li>
    {
      [...libraries, ...libraries].map((library) => (
        <li class="flex flex-row flex-wrap gap-3 mx-2 p-2 rounded hover:bg-elevated-2 hover:cursor-pointer transition-colors ease-out">
          <img
            role="presentation"
            alt=""
            src={`https://unsplash.it/44?randomSeed=${Math.random() * (9 - 0) + 0}`}
            height="44px"
            class="size-12 rounded bg-elevated-2"
            loading="lazy"
          />
          <div class="flex flex-col">
            <span>{library.title}</span>
            <span class="font-light text-gray-400 text-sm">
              {library.subtitle}
            </span>
          </div>
        </li>
      ))
    }
  </ul>
</div>
