---
import LibraryHeader from "./LibraryHeader.astro";
import { Search, List } from "lucide-astro";

const libraries = [
  {
    img: "",
    title: "Liked Songs",
    subtitle: "📌 Playlist • 1,005 songs",
  },
  {
    img: "",
    title: "Metallica",
    subtitle: "Album • Metallica",
  },
  {
    img: "",
    title: "Your Top Songs 2023",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "Luis Miguel Tour 2023",
    subtitle: "Playlist • Luis Fernandez",
  },
  {
    img: "",
    title: "Adobe la Carne",
    subtitle: "Playlist • fervaas",
  },
  {
    img: "",
    title: "Late Night Car",
    subtitle: "Playlist • fervaas",
  },
  {
    img: "",
    title: "This Is Michael jackson",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "80s Rock Anthems",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "Your Top Songs 2022",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "Your Top Songs 2021",
    subtitle: "Playlist • Spotify",
  },
  {
    img: "",
    title: "Your Top Songs 2022",
    subtitle: "Playlist • Spotify",
  },
];
---

<div>
  <LibraryHeader />
  <ul class="flex flex-col gap-6 overflow-y-scroll max-h-[65.5vh] pl-6">
    <li class="flex flex-row text-gray-400 py-1 gap-1 pr-6">
      <Search size={20} />
      <span class="text-sm text-end flex-1">Recents</span>
      <List size={20} />
    </li>
    {
      [...libraries, ...libraries].map((library) => (
        <li class="flex flex-row flex-wrap gap-3">
          <div class="size-11 bg-blue-100 rounded" />
          <div class="flex flex-col">
            <span>{library.title}</span>
            <span class="font-light text-gray-400 text-sm">
              {library.subtitle}
            </span>
          </div>
        </li>
      ))
    }
  </ul>
</div>

<style>
  ul {
    overflow: scroll;
    scrollbar-color: rgba(128, 128, 128, 0.446) transparent;
  }
</style>
