---
import { ArrowRight, Plus, GalleryHorizontalEnd } from "lucide-astro";

// const categories = ["Playlists", "Podcasts & Shows", "Albums", "Artists"];
const categories = ["Playlists", "Podcasts & Shows"];
---

<div class="flex flex-col pt-4 px-6">
  <div class="flex flex-row flex-wrap gap-4 items-center">
    <div
      class="flex-1 flex flex-row gap-4 text-gray-400 hover:text-white hover:cursor-pointer transition-colors ease-out"
    >
      <GalleryHorizontalEnd />
      <span class="font-semibold">Your Library</span>
    </div>
    <Plus
      class="text-gray-400 rounded-full p-1 hover:text-white hover:cursor-pointer hover:bg-elevated-2 transition-colors ease-out"
      size={28}
    />
    <ArrowRight
      class="text-gray-400 rounded-full p-1 hover:text-white hover:cursor-pointer hover:bg-elevated-2 transition-colors ease-out"
      size={28}
    />
  </div>
  <div
    id="categories-container"
    class="flex flex-row gap-2 overflow-x-scroll pt-6"
  >
    {
      categories.map((category) => (
        <span class="py-1 px-2 bg-elevated-2 rounded-full text-sm w-[12rem] text-center">
          {category}
        </span>
      ))
    }
  </div>
  <div
    id="tooltip-your-library"
    role="tooltip"
    class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Collapse Your Library
  </div>
</div>

<style>
  #categories-container {
    scrollbar-color: rgba(128, 128, 128, 0.446) transparent;
  }
</style>
