---
import { Bell, ChevronLeft, ChevronRight, CircleArrowDown } from "lucide-astro";
import MainSectionFilters from "./MainSectionFilters.astro";
---

<header class="flex flex-col gap-6">
  <div class="flex flex-row gap-2 items-center flex-1">
    <a href="#">
      <ChevronLeft class="bg-black p-1 rounded-full text-gray-400" size={32} />
    </a>
    <a href="#" class="flex-1">
      <ChevronRight class="bg-black p-1 rounded-full text-gray-400" size={32} />
    </a>

    <a
      href="#"
      class="flex flex-row gap-1 py-1.5 px-3 rounded-full justify-center items-center bg-black hover:scale-105 transition ease-out"
    >
      <CircleArrowDown class="bg-black rounded-full" size={18} />
      <span class="text-sm font-semibold">Download App</span>
    </a>
    <a href="#" class="hover:scale-105 transition ease-out">
      <Bell class="bg-black p-2 rounded-full text-gray-400" size={32} />
    </a>
    <a href="#" class="hover:scale-105 transition ease-out">
      <img
        role="presentation"
        alt=""
        src="/img/avatar.webp"
        alt="Profile picture."
        class="size-8 rounded-full border-4 border-black"
      />
    </a>
  </div>
  <MainSectionFilters />
</header>
