<ul class="flex flex-row gap-2">
  <li class="bg-white text-black rounded-full py-1.5 px-3 text-sm">All</li>
  <li class="bg-elevated-3 rounded-full py-1.5 px-3 text-sm">Music</li>
  <li class="bg-elevated-3 rounded-full py-1.5 px-3 text-sm">Podcast</li>
</ul>
