---
import { Instagram, Twitter, Facebook } from "lucide-astro";
---

<footer class="flex flex-col divide-y divide-gray-800 pb-12">
  <div class="flex flex-row my-6 gap-12 px-2">
    <div class="flex flex-col gap-1.5">
      <span class="font-semibold">Company</span>
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >About</a
      >
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >Jobs</a
      >
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >For the Records</a
      >
    </div>
    <div class="flex flex-col gap-1.5">
      <span class="font-semibold">Communities</span>
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >For Artists</a
      >
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >Developers</a
      >
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >Advertissing</a
      >
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >Investors</a
      >
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >Vendors</a
      >
    </div>
    <div class="flex flex-col gap-1.5">
      <span class="font-semibold">Useful links</span>
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >Support</a
      >
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
        >Free Mobile App</a
      >
      <a
        class="hover:cursor-pointer text-gray-400 hover:text-white hover:underline"
      >
        For the Records
      </a>
    </div>
    <div class="flex flex-row gap-1.5 flex-1 justify-end">
      <a
        href="#"
        class="bg-elevated-3 rounded-full size-10 p-3 hover:cursor-pointer hover:bg-elevated-4"
      >
        <Instagram size={16} />
      </a>
      <a
        href="#"
        class="bg-elevated-3 rounded-full size-10 p-3 hover:cursor-pointer hover:bg-elevated-4"
      >
        <Twitter size={16} />
      </a>
      <a
        href="#"
        class="bg-elevated-3 rounded-full size-10 p-3 hover:cursor-pointer hover:bg-elevated-4"
      >
        <Facebook size={16} />
      </a>
    </div>
  </div>
  <div class="flex flex-row justify-between py-6">
    <ul class="flex flex-row gap-4">
      <li>
        <a class="hover:cursor-pointer text-gray-400 text-sm hover:text-white"
          >Legal</a
        >
      </li>
      <li>
        <a class="hover:cursor-pointer text-gray-400 text-sm hover:text-white"
          >Safety & Privacy Center</a
        >
      </li>
      <li>
        <a class="hover:cursor-pointer text-gray-400 text-sm hover:text-white"
          >Privacy Policy</a
        >
      </li>
      <li>
        <a class="hover:cursor-pointer text-gray-400 text-sm hover:text-white"
          >Cookie Settings</a
        >
      </li>
      <li>
        <a class="hover:cursor-pointer text-gray-400 text-sm hover:text-white"
          >About Ads</a
        >
      </li>
      <li>
        <a class="hover:cursor-pointer text-gray-400 text-sm hover:text-white"
          >Accessibility</a
        >
      </li>
    </ul>
    <span class="text-gray-400 text-sm">© 2024 Clonify AB</span>
  </div>
</footer>
