<ul class="flex flex-row gap-2">
  <li
    class="bg-white text-black rounded-full py-1.5 px-3 text-sm hover:cursor-pointer"
  >
    All
  </li>
  <li
    class="bg-elevated-3 rounded-full py-1.5 px-3 text-sm hover:cursor-pointer hover:bg-elevated-4 transition-colors ease-out"
  >
    Music
  </li>
  <li
    class="bg-elevated-3 rounded-full py-1.5 px-3 text-sm hover:cursor-pointer hover:bg-elevated-4 transition-colors ease-out"
  >
    Podcast
  </li>
</ul>
