---
import {
  Play,
  SkipForward,
  SkipBack,
  Repeat,
  Repeat1,
  Shuffle,
} from "lucide-astro";
---

<div class="flex flex-col justify-between col-span-6 px-20">
  <div class="flex flex-row justify-center items-center gap-5">
    <Shuffle
      class="text-accent-muted hover:text-accent hover:cursor-pointer hover:stroke-accent"
      size={22}
    />
    <SkipBack
      class="text-gray-400 hover:text-white hover:cursor-pointer hover:fill-white"
      fill="rgb(156 163 175)"
      stroke-width={3}
      size={22}
    />
    <Play
      class="text-black bg-white rounded-full p-2 hover:cursor-pointer hover:scale-105 transition ease-out"
      fill="black"
      size={32}
    />
    <SkipForward
      class="text-gray-400 hover:text-white hover:cursor-pointer hover:fill-white"
      fill="rgb(156 163 175)"
      stroke-width={3}
      size={22}
    />
    <Repeat
      class="text-gray-400 hover:text-white hover:cursor-pointer hover:stroke-white"
      size={22}
    />
  </div>
  <div class="flex flex-row justify-center items-center">
    <span class="font-light text-xs text-gray-400">0:50</span>
    <div class="w-full bg-gray-600 rounded-full h-1 mx-4">
      <div class="bg-white h-1 rounded-full" style="width: 45%"></div>
    </div>
    <span class="font-light text-xs text-gray-400">5:10</span>
  </div>
</div>
