---
import { Heart } from "lucide-astro";
---

<div class="flex flex-row gap-4 items-center">
  <div class="size-14 bg-blue-200 rounded"></div>

  <div class="flex flex-col">
    <span class="text-sm">You've Got another Thing Coming</span>
    <span class="text-xs text-gray-400">Judast Priest</span>
  </div>

  <Heart size={16} />
</div>
