<div class="flex flex-col flex-wrap rounded-lg bg-elevated-2 overflow-hidden">
  <div class="h-[16.2rem] bg-blue-200 w-full"></div>
  <div class="p-4 flex flex-col gap-2">
    <a href="#" class="font-semibold hover:underline hover:text-white w-fit"
      >Eagles</a
    >
    <div class="flex flex-row flex-wrap justify-between items-center">
      <span class="text-gray-400">20,408,944 monthly listeners</span>
      <a
        href="#"
        class="font-semibold text-sm py-1 px-4 border border-gray-600 rounded-full hover:border-white hover:scale-105 transition ease-out"
        >Follow</a
      >
    </div>
    <p class="text-gray-400 text-sm tracking-tight">
      The Eagles are unquestionably the biggest mainstream American rock band to
      have emerged in the 1970s. Not only did the sell more records and concert
      tickets tha...
    </p>
  </div>
</div>
