---
import { Heart } from "lucide-astro";
---

<div class="flex flex-row gap-4 items-center col-span-3">
  <img
    role="presentation"
    alt=""
    src="https://picsum.photos/56"
    height="56px"
    class="size-14 rounded bg-elevated-2"
    loading="lazy"
  />

  <div class="flex flex-col">
    <span class="text-sm">You've Got another Thing Coming</span>
    <span class="text-xs text-gray-400">Judast Priest</span>
  </div>

  <Heart
    class="text-accent-muted fill-accent-muted hover:text-accent hover:fill-accent hover:scale-105 hover:cursor-pointer transition ease-out"
    size={16}
  />
</div>
