<div
  class="relative flex flex-col flex-wrap rounded-lg bg-elevated-2 overflow-hidden"
>
  <p
    class="absolute top-0 bg-gradient-to-b from-[#00000082] w-full pt-4 pb-8 px-4 font-semibold"
  >
    About the artist
  </p>
  <img
    role="presentation"
    alt=""
    src="https://picsum.photos/291/260"
    height="260px"
    class="h-[16.2rem] w-full bg-elevated-3"
    loading="lazy"
  />
  <div class="p-4 flex flex-col gap-2">
    <a href="#" class="font-semibold hover:underline hover:text-white w-fit"
      >Metallica</a
    >
    <div class="flex flex-row flex-wrap justify-between items-center">
      <span class="text-gray-400">25,538,927 monthly listeners</span>
      <a
        href="#"
        class="font-semibold text-sm py-1 px-4 border border-gray-600 rounded-full hover:border-white hover:scale-105 transition ease-out"
        >Follow</a
      >
    </div>
    <p class="text-gray-400 text-sm font-light">
      Metallica formed in 1981 by drummer Lars Ulrich and guitarist and vocalist
      James Hetfield and has become one of the most influential and commercially
      successf...
    </p>
  </div>
</div>
