---
import NowPlaying from "@/components/NowPlaying.astro";
import MainControls from "@/components/MainControls.astro";
import SecondaryControls from "@/components/SecondaryControls.astro";
---

<footer class="bg-black pt-2">
  <div class="px-4 grid grid-cols-3 pb-1">
    <NowPlaying />
    <MainControls />
    <SecondaryControls />
  </div>
  <div class="bg-accent m-2 h-6 rounded"></div>
</footer>
