---
import NowPlaying from "./NowPlaying.astro";
import MainControls from "../components-preact/MainControls";
import SecondaryControls from "./SecondaryControls.astro";
import CurrentDeviceBanner from "./CurrentDeviceBanner.astro";
---

<footer class="bg-black pt-2">
  <div class="px-4 grid grid-cols-12 pb-1">
    <NowPlaying />
    <MainControls client:only />
    <SecondaryControls />
  </div>
  <CurrentDeviceBanner />
</footer>
