---
import {
  SquarePlay,
  MicVocal,
  ListEnd,
  MonitorSpeaker,
  Volume2,
  PictureInPicture2,
  Maximize2,
} from "lucide-astro";
---

<script>
  import { $ } from "@/utils/querySelector";
  import { $currentDevice, toggleCurrentDevice } from "@/store/currentDevice";

  const handleOnCurrentDeviceToggle = () => {
    toggleCurrentDevice();
  };

  const $currentDeviceButton = $("#current-device-icon");
  $currentDeviceButton.onclick = handleOnCurrentDeviceToggle;

  $currentDevice.subscribe((e) => {
    if (e.showBanner) {
      $currentDeviceButton.classList.add("text-accent-muted");
      $currentDeviceButton.classList.add("hover:text-accent");
      $currentDeviceButton.classList.remove("text-gray-400");
      $currentDeviceButton.classList.remove("hover:text-white");
    } else {
      $currentDeviceButton.classList.remove("text-accent-muted");
      $currentDeviceButton.classList.remove("hover:text-accent");
      $currentDeviceButton.classList.add("text-gray-400");
      $currentDeviceButton.classList.add("hover:text-white");
    }
  });
</script>

<div class="flex flex-row items-center justify-end col-span-3">
  <div class="active relative">
    <SquarePlay
      class="text-accent-muted py-[0.4rem] hover:text-accent hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div class="relative">
    <MicVocal
      class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div class="relative">
    <ListEnd
      class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div id="current-device-button" class="relative">
    <MonitorSpeaker
      id="current-device-icon"
      class="text-gray-400 hover:text-white py-[0.4rem] hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div class="relative">
    <Volume2
      class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div class="group w-24 py-2">
    <div class="bg-gray-600 rounded-full h-1">
      <div
        class="relative bg-white h-1 rounded-full group-hover:bg-accent"
        style="width: 75%"
      >
        <div
          class="hidden absolute -right-1.5 -top-1 size-3 shadow shadow-black rounded-full bg-white group-hover:block"
        >
        </div>
      </div>
    </div>
  </div>
  <PictureInPicture2
    class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
    size={30}
  />
  <Maximize2
    class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
    size={28}
  />

  <style>
    #current-device-button::before {
      content: "";
      background-color: theme("colors.accent");
      position: absolute;
      rotate: 45deg;
      left: 7px;
      bottom: -41px;
      min-height: 20px;
      min-width: 20px;
      z-index: 10;
    }
  </style>

