---
import {
  SquarePlay,
  MicVocal,
  ListEnd,
  MonitorSpeaker,
  Volume,
  Volume1,
  Volume2,
  VolumeX,
  PictureInPicture2,
  Maximize2,
} from "lucide-astro";
---

<div class="flex flex-row items-center justify-end">
  <SquarePlay class="text-accent p-[0.4rem]" size={32} />
  <MicVocal class="text-gray-400 p-[0.4rem]" size={32} />
  <ListEnd class="text-gray-400 p-[0.4rem]" size={32} />
  <MonitorSpeaker class="text-gray-400 p-[0.4rem]" size={32} />
  <Volume2 class="text-gray-400 p-[0.4rem]" size={32} />
  <div class="w-24 bg-gray-600 rounded-full h-1 mx-4">
    <div class="bg-white h-1 rounded-full" style="width: 45%"></div>
  </div>
  <PictureInPicture2 class="text-gray-400 p-[0.4rem]" size={32} />
  <Maximize2 class="text-gray-400 p-[0.4rem]" size={32} />
</div>
