---
import {
  SquarePlay,
  MicVocal,
  ListEnd,
  MonitorSpeaker,
  Volume,
  Volume1,
  Volume2,
  VolumeX,
  PictureInPicture2,
  Maximize2,
} from "lucide-astro";
---

<div class="flex flex-row items-center justify-end col-span-3">
  <div class="active relative">
    <SquarePlay
      class="text-accent-muted py-[0.4rem] hover:text-accent hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div class="relative">
    <MicVocal
      class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div class="relative">
    <ListEnd
      class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div id="now-playing-device" class="relative">
    <MonitorSpeaker
      class="text-accent-muted py-[0.4rem] hover:text-accent hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div class="relative">
    <Volume2
      class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
      size={30}
    />
  </div>
  <div class="group w-24 py-2">
    <div class="bg-gray-600 rounded-full h-1">
      <div
        class="relative bg-white h-1 rounded-full group-hover:bg-accent"
        style="width: 45%"
      >
        <div
          class="hidden absolute -right-1.5 -top-1 size-3 shadow shadow-black rounded-full bg-white group-hover:block"
        >
        </div>
      </div>
    </div>
  </div>
  <PictureInPicture2
    class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
    size={30}
  />
  <Maximize2
    class="text-gray-400 py-[0.4rem] hover:text-white hover:cursor-pointer hover:scale-105 transition ease-out"
    size={28}
  />

  <style>
    .active::before {
      content: "";
      background-color: theme("colors.accent-muted");
      position: absolute;
      left: 13px;
      bottom: -4px;
      min-height: 4px;
      min-width: 4px;
      border-radius: 100%;
    }
    #now-playing-device::before {
      content: "";
      background-color: theme("colors.accent");
      position: absolute;
      rotate: 45deg;
      left: 7px;
      bottom: -39px;
      min-height: 20px;
      min-width: 20px;
    }

    #now-playing-device::after {
      content: "🔈 Playing on Jon Snow's iPhone";
      font-size: 14px;
      text-align: center;
      color: black;
      position: absolute;
      left: -150px;
      bottom: -48px;
      width: 300px;
    }
  </style>
</div>
