---
import MainSectionHeader from "@/components/MainSectionHeader.astro";
import RecentlyPlayed from "@/components/RecentlyPlayed.astro";
import MainSectionList from "@/components/MainSectionList.astro";
import MainSectionFooter from "@/components/MainSectionFooter.astro";
---

<section
  class="flex flex-col gap-6 pt-4 pl-6 pr-3 pb-0 rounded-lg overflow-y-scroll max-h-[89vh] relative"
>
  <MainSectionHeader />
  <RecentlyPlayed />
  {Array.from(Array(10).keys()).map((i) => <MainSectionList />)}
  <MainSectionFooter />
</section>

<style>
  section {
    background: theme("colors.elevated");
    background: linear-gradient(
      to bottom,
      rgba(53, 53, 53, 0.636),
      theme("colors.elevated") 550px
    );
    overflow: scroll;
    scrollbar-color: rgba(128, 128, 128, 0.446) transparent;
  }
</style>
