---
import "@fontsource-variable/dm-sans";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Layout clone of famous music web app" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    background: #000;
    font-family: "DM Sans Variable", system-ui, sans-serif;
    color: #fff;
    overflow-y: hidden;
  }

  .styled-scrollbar {
    overflow: auto;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.1s ease-out;
  }
  .styled-scrollbar:hover {
    overflow-y: auto;
    scrollbar-color: rgba(128, 128, 128, 0.446) transparent;
  }
</style>
